
{% extends "!layout.html" %}

{%- block extrahead %}
  {{ super() }}
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43692164-1', 'auto');
    ga('send', 'pageview');

  </script>
{% endblock %}
{%- block footer %}
  {{ super() }}

  <script>
    $(".wy-menu p.caption ~ ul").hide();
    x = $(".wy-menu p.caption ~ ul reference internal");
    console.log(x);
    $(".wy-menu p.caption ~ ul.current").show();
    $(document).ready(function() {
      $("p.caption").click(function () {
        ul = $(this).next("ul");
        ul.toggle();
      });
    });
  </script>
{% endblock %}
