.rst-content div[class^='highlight'] pre, .rst-content .linenodiv pre {
  line-height: 16px;
}

.wy-side-nav-search img {
  height: auto;
  width: 10rem;
  border-radius: 0;
  margin: 0 auto;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  font-size: 100%;
  cursor: pointer;
}

.wy-menu-vertical header:hover,
.wy-menu-vertical p.caption:hover {
  background: rgba(255,255,255,0.1);
}

.wy-menu-vertical ul {
  margin-left: 1rem;
}

.rst-content .important,
.rst-content .warning,
.rst-content .note,
.rst-content .tip {
  max-width: 100%;
  overflow-x: auto;
}
